__________
# 05. Lambda | Map | Filter
The present notebook will introduce `lambda`, `map()`, and `filter()` functions, which differ from the functions you met previously both by syntax and provided functionality. We will go through numerous examples of how to define and use them, and you will have to use this knowledge in order to carry out a number of exercises.
__________

# `lambda` Expressions
A lambda function is a small anonymous function that can take any number of arguments: 

***`lambda`*** *arguments*: *expression*

Here is a lambda function that adds 10 to the number passed in as an argument:

In [1]:
x = lambda a : a + 10
x

In [2]:
x(5)

15

And another one that multiplies argument a with argument b:

In [3]:
x = lambda a, b : a * b
x

In [4]:
x(5, 6)

30

In [5]:
def times2(x):
    return x * 2

In [6]:
times2(2)

4

In [7]:
times2([111, 222])

[111, 222, 111, 222]

In [8]:
times2('We don\'t need no education')

"We don't need no educationWe don't need no education"

In [9]:
x = lambda var: var*2
x

In [10]:
x(2)

4

In [11]:
x([111,222])

[111, 222, 111, 222]

### `Exercise 1 - Lambda Sorting Tuples`
Sort a list of tuples using a `lambda` expression.

E.g.,

Input:

    marks = [('EN', 80), ('IT', 88), ('DE', 95)]
    
Output:
    
    Sorting the tuple list:

    [('EN', 80), ('IT', 88), ('DE', 95)]

In [5]:
marks = [('EN', 80), ('IT', 88), ('DE', 95)]
x = lambda a: sorted(a)
x(marks)

SyntaxError: invalid syntax (<ipython-input-5-a8afc72b1c7b>, line 1)

### `Exercise 2 - Lambda Sorting Dict`
Sort a list of dictionaries using a `lambda` expression.

Input:

    models = [{'make':'Nokia', 'model':216, 'color':'Black'}, 
              {'make':'Mi Max', 'model':'2', 'color':'Gold'}, 
              {'make':'Samsung', 'model': 7, 'color':'Blue'}]
                 
Output:
    

    Sorting the dictionary list :
    [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': 2, 'color': 'Gold'}]

In [10]:
def models
    x = lambda a: sorted(a)
    x(marks)
print(sorted(models, key = lambda i: i['color']))
models = [{'make':'Nokia', 'model':216, 'color':'Black'}, 
          {'make':'Mi Max', 'model':'2', 'color':'Gold'}, 
          {'make':'Samsung', 'model': 7, 'color':'Blue'}]

SyntaxError: invalid syntax (<ipython-input-10-49494fde4610>, line 1)

### `Exercise 3 - Date Time Lambda`
Extract year, month, date and time using Lambda:

Input:

    datetime.datetime(2020, 3, 28, 1, 3, 54, 121736)
    
Output:
    
    Datetime: 2020-03-28 01:06:28.325593
    Year    : 2020
    Month   : 3
    Day     : 28
    Now     : 01:06:28.325593

In [ ]:
import datetime
now = datetime.datetime.now()
now

In [ ]:
??datetime

In [18]:
import datetime
now = datetime.datetime.now()
print(now)
year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
t = lambda x: x.time()
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2020-04-11 13:03:44.816105
2020
4
11
13:03:44.816105

### `Exercise 4 - Lambda Printing`
Create a lambda named `print2`, which works the same way as `print`, but always uses tab as a separator.

`Hint` You will need the `*` operators.

In [22]:
print2 = lambda a: print(*a, sep="\t")
print2("jhwfge 4564")

j	h	w	f	g	e	 	4	5	6	4

In [23]:
print2 = lambda x: print(*x.split(), sep="\t")
print2("jhwfge 4564")

jhwfge	4564

___________
# Map & Filter

`Map` & `Filter` allow the programmer to write simpler, shorter code, without thinking about loops or branching. This way of coding is also known as functional programming, since we apply a function across a number of iterables in one full swoop. Both of these functions come built-in with Python (in the __builtins__ module) and require no importing.

## Map
The `map()` function in python has the following syntax:

    map(func, *iterables)

Where `func` is the function to be applied on each of the iterable elements (as many as there are). Note the use of `*`, for an arbitrary number of arguments. Additional notes:

- In Python 3, `map()` returns a map object which is a generator object.
- To get the result as a list, `list()` function can be called on the map object, e.g. `list(map(func, *iterables))`.
- The number of arguments to func must be the number of iterables listed.

Let's say you have a list (iterable) of your chosen laptop brands and want to uppercase them. In traditional Python, you would do something like this:

In [ ]:
laptops = ['acer', 'asus', 'macbook', 'lg']
[l.upper() for l in laptops]

Alternatively, you can do the same using the `map()` function:

In [ ]:
laptops = ['acer', 'asus', 'macbook', 'lg']
list(map(str.upper, laptops))

`func` corresponds to virtually any function, so we can also `map()` our own `def`initions:

In [ ]:
seq = range(11, 33, 3)
seq = list(seq)
seq

In [ ]:
def times2(x):
    return x * 2

map(times2, seq)

In [ ]:
list(map(times2, seq))

In [ ]:
def squared(x):
    return x ** 2

list(map(squared, seq))

We can also combine `map()` with `lambda`:

In [ ]:
list(map(lambda x: x * 2, seq))

### `Exercise 5 - Map Stats`
Assume that you gathered a list of stats (floats) about your working routines (be it the averages of customers that joined the system during each day of the month, the sums of money transactions, anything of the kind):

    numbers = [0.356, 11.12, 16.534238, 3.2456, 9.1, 5, 13.6]
    
You want to round these numbers to have the same decimal placing via the `map()` function and the `round()` Python built-in.

Now change the functions, so that each of the elements is rounded to the position of it in the list. That is, round up the first element in the list to one decimal place, the second element in the list to two decimal places, the third element in the list to three decimal places, etc. 

`Note` Round function requires two arguments, so we need to pass in two iterables.

In [ ]:
numbers = [0.356, 11.12, 16.534238, 3.2456, 9.1, 5, 13.6]
result = list(map(round, numbers, range(1,7)))
print(result)

### `Exercise 6 - Map Lambda Zip...?`
Create a custom `zip()` function using `map()` and `lambda()`:

    s = ['a', 'b', 'c', 'd', 'e']
    n = [1,2,3,4,5]
    
    print(zip(s,n))
    
    [('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [12]:
# YOUR CODE GOES HERE

__________________
# `filter()`
Having the syntax of the form: 

    filter(func, iterable)

`filter()`then passes each element in the iterable through some function that requires to return boolean values, "filtering" away those that are false. In contrast, `map()` passes each element in the iterable through a function and returns the result of all elements having passed through the function.

There are a few points worth remembering when thinking about `filter()`:

- Unlike `map()`, only one iterable is required.
- The `func` argument is required to return a boolean type. If it doesn't, filter simply returns the iterable passed to it. Also, as only one iterable is required, it's implicit that func must only take one argument.
- `filter` passes each element in the iterable through `func` and returns only the ones that evaluate to `True`.

Here is a simple example of a function filtering a list of numbers:

In [ ]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_student(score):
    return score > 75

over_75 = list(filter(is_A_student, scores))
over_75

And here is a palindrome detector using `filter` combined with `lambda`:

In [ ]:
dromes = ("demigod", "rewire", "madam", "anutforajaroftuna", "kiosk")
palindromes = list(filter(lambda word: word == word[::-1], dromes))
palindromes

And a few examples more just to make it even clearer:

In [ ]:
seq

In [ ]:
list(filter(lambda x: x > 20, seq))

In [ ]:
list(filter(lambda x: 20 < x < 30, seq))

In [ ]:
input_value = range(10, 100, 2)

In [ ]:
list(filter(lambda x: x % 3 == 0, input_value))

In [ ]:
[x for x in input_value if x % 3 == 0]

In [ ]:
from time import time

In [ ]:
input_value = range(10, 100000, 2)

In [ ]:
%%time
list(filter(lambda x: x % 3 == 0, input_value))

In [ ]:
%%time
[x for x in input_value if x % 3 == 0]

### `Exercise 7 - Is Even`
Create a function `is_even` that takes a list of numbers and returns a new list with even numbers replaced by `True` and odd numbers replaced by `False`:

Input:
    
    is_even([1, 2, 3, 4, 4])

Output:

    [False, True, False, True, True]

In [ ]:
# YOUR CODE GOES HERE

### `Exercise 8 - Custom Encrypt!`
Create a function `encrypt(s, X, Y)` that takes a string `s` and 2 integers `X` and `Y` as an input, and changes its characters to encrypt the message:

    s - string
    X - int
    Y - int

    `The low tide rises at 6pm on the 10th and at 7pm on the 21st message 24 058 55 25`
    
- odd numeric characters are converted to their corresponding letters of the alphabet + X 
- even numeric characters are converted to their corresponding letters of the alphabet - X 
- alpha characters are converted to their numerical representation, where and odds get + Y, evens get -Y.

In [100]:
ord('a'), ord('1'), ord('d')

(97, 49, 100)

time: 1.59 ms

In [ ]:
# YOUR CODE GOES HERE

### `Exercise 9 - Custom Decrypt!`
Create a decryption function that returns the original string representation when given the encrypted version as the input and the XYZ code.

In [ ]:
# YOUR CODE GOES HERE